<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=h1, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Cadastro de Produtos</h1>
  <form action="/produto/criar" method="post">
  <input type="text" name="produtoNome" >
  <input type="number" name="produtoPreco" >
  <input type="submit" value="Enviar">
  </form>
</body>
</html>